.u-section-1 {
  background-image: linear-gradient(#2cccc4, #1a1a1a);
}

.u-section-1 .u-sheet-1 {
  min-height: 502px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 550px;
  margin: 52px auto 0;
}

.u-section-1 .u-form-1 {
  height: 290px;
  width: 570px;
  margin: 35px auto 60px;
}

.u-section-1 .u-input-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 42px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(#2cccc4, #e0e5eb);
}

.u-section-2 .u-sheet-1 {
  min-height: 458px;
}

.u-section-2 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-2 .u-form-1 {
  height: 201px;
  width: 570px;
  margin: 63px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }

  .u-section-2 .u-form-group-1 {
    width: 100%;
  }

  .u-section-2 .u-form-group-2 {
    width: 100%;
  }

  .u-section-2 .u-form-group-3 {
    width: 100%;
  }
}.u-section-3 {
  background-image: linear-gradient(#adf6f2, #db545a);
}

.u-section-3 .u-sheet-1 {
  min-height: 502px;
}

.u-section-3 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}